
<!------------------- Main ------------------->
<div class="main">
  <div class="container">
  
    <ul class="pull-left">
        <a href="#"><li><img class="lightning" src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg"></li></a>
    </ul>
    <ul class="pull-right">
        <a class="btn lightning white" href="#"><li>Log in</li></a>
        <a class="btn lightning" href="#"><li>Sign up</li></a>
    </ul>
    
    <h1>Watch your favorite movies, instantly.</h1>
    <a href="pages/about" class="btn lightning">Learn More</a>
    
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Browse the collection">
        </div>
        <div class="form-group">
            <a href="#" class="btn lightning">Search</a>
        </div>
    </form>
    
  </div>
</div>

<!------------------- Supporting ------------------->
<div class="supporting">
  <div class="container">
  
    <h2>A world of movies at your fingertips.</h2>
    <p>Choose from the latest titles, with new movies added everyday.</p>
    
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-avengers.jpg" class="img-responsive"></a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/harry-potter.jpg" class="img-responsive"></a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/frozen.jpg" class="img-responsive"></a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/iron-man.jpg" class="img-responsive"></a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/transformers.jpg" class="img-responsive"></a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/lord-of-the-rings.jpg" class="img-responsive"></a>
        </div>
        <div class="col-xs-8 col-md-8">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/skyfall.jpg" class="img-responsive"></a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-dark-knight.jpg" class="img-responsive"></a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/pirates-of-the-caribbean.jpg" class="img-responsive"></a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="#"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/toy-story-3.jpg" class="img-responsive"></a>
        </div>
    </div>
    
  </div>
</div>

<!------------------- Feature ------------------->
<div class="feature">
  <div class="container">
  
    <h2>Available everywhere</h2>
    <p>Start watching on one device, and pick up where you left off on another device.</p>
    
  </div>
</div>

<!------------------- Footer ------------------->
<div class="footer">
  <div class="container">
    
    <div class="row">
        <div class="col-xs-3 col-md-3 left">
            <h4>Bolt</h4>
            <ul class="left">
                <a href="#"><li>Careers</li></a>
                <a href="#"><li>Terms</li></a>
                <a href="#"><li>Help</li></a>
            </ul>
        </div>
        <div class="col-xs-3 col-md-3 left">
            <h4>More Bolt</h4>
            <ul class=>
                <a href="#"><li>Gift Cards</li></a>
                <a href="#"><li>Trailers</li></a>
            </ul>
        </div>
        <div class="col-xs-2 col-md-2 left">
            <h4>News</h4>
            <ul>
                <a href="#"><li>Blog</li></a>
                <a href="#"><li>Twitter</li></a>
                <a href="#"><li>YouTube</li></a>
                <a href="#"><li>Google+</li></a>
                <a href="#"><li>Facebook</li></a>
            </ul>
        </div>
    </div>
    
  </div>
</div>
    
